#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
}

.me {
  position: absolute;
  bottom: 10rem;
  right: 5rem;
  z-index: -1;
  height: 45vh;
  border-radius: 150px;
  background: linear-gradient(
    to bottom,
    #000,
    #000,
    #000,
    rgb(20, 20, 20),
    rgb(20, 20, 20)
  );
  transform: rotate(-10deg);
  overflow: hidden;
  padding: 15px;
}

.intro-content {
  height: 100vh;
  width: 50vw;
  padding: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.intro-name {
  color: yellow;
  font-weight: 100;
}

.intro-para {
  font-size: medium;
  font-weight: 100;
  margin-top: 2px;
  font-style: italic;
  color: yellow;
  letter-spacing: 0.5px;
}

.btn {
  display: flex;
  background: #fff;
  margin: 1rem 0;
  padding: 0.6rem 1.1rem;
  border: none;
  border-radius: 2rem;
  gap: 10px;
  font-size: 16px;
  font-family: "Arvo", serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: yellow;
}

.btn-img {
  object-fit: cover;
  margin: 0.025rem;
  height: 1.2rem;
}

@media screen and (max-width: 600px) {
  .me {
    /* position: absolute; */
    right: 1rem;
  }
  .intro-content {
    font-size: 4rem;
  }
}
