.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  font-size: 1.1rem;
  font-weight: 600;
}

/* .logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
} */

.v-container {
  font-size: 5rem;
  font-weight: 100;
  font-family: "Arvo", serif;
  background: -webkit-linear-gradient(top, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desktom-menu-list-item {
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 1.3rem;
  transition: all 0.1s ease-in-out;
}

.desktom-menu-list-item:hover {
  background: -webkit-linear-gradient(top, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px solid rgb(230, 194, 12);
  padding-bottom: 0.5rem;
}

.desktop-menu-btn {
  font-family: "Iceland", sans-serif;
  font-weight: bold;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7.5px 5px;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.desktop-menu-btn:hover {
  background: -webkit-linear-gradient(top, yellow, orange);
}
.desktop-menu-btn > span {
  margin-inline-end: 7.5px;
  font-size: 1.3rem;
}

.contact-me-btn {
  transition: all 0.5s ease-in-out;
}

.contact-me {
  padding: 2px 0;
}
