#skills {
  margin: 0 auto;
  place-content: center;
  place-self: center;
  height: 100vh;
  width: 800px;
  /* border: 1px solid magenta; */
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  padding-inline: 50px;
  /* background-color: black; */
  background: linear-gradient(
    to bottom,
    /* #000, */ /* #000, */ #000,
    rgb(20, 20, 20),
    rgb(30, 30, 30)
  );
}

#skills > :nth-child(n) {
  margin-block: 25px;
}

.skill-title {
  padding: 15px;
  border-radius: 15px;
  font-size: 4rem;
  background: linear-gradient(
    to bottom,
    #000,
    #000,
    rgb(20, 20, 20),
    rgb(20, 20, 20)
  );
}

.skill-desc {
  padding: 15px;
  border-radius: 15px;
  font-weight: 100;
  background: linear-gradient(
    to bottom,
    rgb(10, 10, 10),
    rgb(20, 20, 20),
    rgb(23, 23, 23)
  );
}

.skill-bar {
  padding: 15px;
  border-radius: 15px;
  text-align: start;
  align-items: center;
  margin-block: 15px;
  display: flex;
  background-color: rgb(30, 30, 30, 1);
}

.skill-bar-img {
  margin-inline-start: 10px;
}

.skill-bar-text {
  margin-inline-start: 20px;
  display: flex;
  flex-direction: column;
}
